.ant-layout-footer {
  color: rgba(0, 0, 0, 0.85);
  position: fixed;
  width: 100%;
  bottom: 0px;
  padding: 5px 30px;
  background: #fff;
  text-align: right;
}

p {
  font-family: verdana;
  font-size: 15px;
  color: #989898;
}
